---
import { type Speaker } from "../../data/types/sessionize";
import { getLangFromUrl, useTranslatedPath } from "../../i18n/utils";

interface Props {
  speaker: Speaker;
}

const { speaker }: Props = Astro.props;

const words = speaker.bio ? speaker.bio.split(" ") : [];
let body = words.slice(0, 20).join(" ");

if (words.length > 15) {
  body += "...";
}
const lang = getLangFromUrl(Astro.url);
const getPath = useTranslatedPath(lang);

---

<a href={getPath(`/speakers/${speaker.slug}`)} class="not-colored speaker-card">
  <figure>
    <img
      class="rounded-none"
      src={speaker.profilePicture}
      alt={speaker.fullName}
      height={360}
      width={360}
    />
  </figure>
  <div class="card-body p-4">
    <p class="font-medium text-xl">{speaker.fullName}</p>
    <p class="max-h-12 text-ellipsis overflow-hidden">{speaker.tagLine}</p>
  </div>
</a>
