---
import { Image } from "astro:assets";
import img01 from "../../assets/images/gallery/01.jpg";
import img02 from "../../assets/images/gallery/02.jpg";
import img03 from "../../assets/images/gallery/03.jpg";
import img04 from "../../assets/images/gallery/04.jpg";
import img05 from "../../assets/images/gallery/05.jpg";
import img06 from "../../assets/images/gallery/06.jpg";
import img07 from "../../assets/images/gallery/07.jpg";
import img09 from "../../assets/images/gallery/08.jpg";
---

<div class="grid md:grid-cols-5 grid-cols-3 gap-2 p-2">
  <div class={`md:col-span-2 h-56`}>
    <Image
      src={img01}
      class="w-full h-full object-center object-cover"
      alt=""
    />
  </div>
  <div class={`col-span-2 h-56`}>
    <Image
      src={img02}
      class="w-full h-full object-center object-cover"
      alt=""
    />
  </div>
  <div class={`row-span-2 `}>
    <Image
      src={img03}
      class="w-full h-full object-center object-cover"
      alt=""
    />
  </div>
  <div class={`h-56 `}>
    <Image
      src={img04}
      class="w-full h-full object-center object-cover"
      alt=""
    />
  </div>
  <div class={`h-56 `}>
    <Image
      src={img05}
      class="w-full h-full object-center object-cover"
      alt=""
    />
  </div>
  <div
    class="h-56 md:col-span-2 col-span-3 flex flex-col items-center justify-center md:order-none order-last text-white bg-red-pastel"
  >
    <slot name="join-photos" />
  </div>
  <div class={`h-56 col-span-2 `}>
    <Image
      src={img09}
      class="w-full h-full object-center object-cover"
      alt=""
    />
  </div>
  <div class={`h-56 `}>
    <Image
      src={img06}
      class="w-full h-full object-center object-cover"
      alt=""
    />
  </div>
  <div class={`h-56 col-span-2 `}>
    <Image
      src={img07}
      class="w-full h-full object-center object-cover"
      alt=""
    />
  </div>
</div>
