---
import { Image } from "astro:assets";
import img01 from "../../assets/images/gallery/01.avif";
import img02 from "../../assets/images/gallery/02.avif";
import img03 from "../../assets/images/gallery/03.avif";
import img04 from "../../assets/images/gallery/04.avif";
import img05 from "../../assets/images/gallery/05.avif";
import img06 from "../../assets/images/gallery/06.avif";
import img07 from "../../assets/images/gallery/07.avif";
import img08 from "../../assets/images/gallery/08.avif";
---

<div class="grid md:grid-cols-5 grid-cols-3 gap-2 p-2" id="gallery">
  <div class={`md:col-span-2 h-56`}>
    <Image
      src={img01}
      class="w-full h-full object-center object-cover"
      alt=""
    />
  </div>
  <div class={`col-span-2 h-56`}>
    <Image
      src={img02}
      class="w-full h-full object-center object-cover"
      alt=""
    />
  </div>
  <div class={`row-span-2 `}>
    <Image
      src={img03}
      class="w-full h-full object-center object-cover"
      alt=""
    />
  </div>
  <div class={``}>
    <Image
      src={img04}
      class="w-full h-full object-center object-cover"
      alt=""
    />
  </div>
  <div class={``}>
    <Image
      src={img05}
      class="w-full h-full object-center object-cover"
      alt=""
    />
  </div>
  <div
    class="md:col-span-2 col-span-3 flex flex-col items-center justify-center md:order-none order-last text-center p-4 bg-red-pastel"
  >
    <div class="text-black text-3xl">
      <slot name="join-photos-text" />
    </div>
    <div class="mt-7">
      <slot name="join-photos-btn" />
    </div>
  </div>
  <div class={`h-56 col-span-2 `}>
    <Image
      src={img08}
      class="w-full h-full object-center object-cover"
      alt=""
    />
  </div>
  <div class={`h-56`}>
    <Image
      src={img06}
      class="w-full h-full object-center object-cover"
      alt=""
    />
  </div>
  <div class={`h-56 col-span-2 `}>
    <Image
      src={img07}
      class="w-full h-full object-center object-cover"
      alt=""
    />
  </div>
</div>
