---
import { getCollection } from "astro:content";
import SponsorItem from "./SponsorItem.astro";

const external = await getCollection("externals");

const platinumSponsors = external.filter((ext) =>
  ext.data.type.startsWith("sponsor_platinum"),
);
const goldSponsors = external.filter((ext) =>
  ext.data.type.startsWith("sponsor_gold"),
);
const silverSponsors = external.filter((ext) =>
  ext.data.type.startsWith("sponsor_silver"),
);
const bronzeSponsors = external.filter((ext) =>
  ext.data.type.startsWith("sponsor_bronze"),
);

const partners = external.filter((ext) => ext.data.type === "partner");
---

<div class="py-14 main-container text-primary-content">
  <h2 class="text-6xl mb-10 font-bold">Sponsors</h2>

  {
    platinumSponsors.length > 0 && (
      <>
        <h3 class="text-4xl mb-10 font-bold">Platinum</h3>
        <div class="grid lg:grid-cols-5 md:grid-cols-4 sm:grid-cols-2 grid-flow-row gap-4 mb-10">
          {platinumSponsors.map((sponsor) => (
            <SponsorItem value={sponsor} />
          ))}
        </div>
      </>
    )
  }
  {
    goldSponsors.length > 0 && (
      <>
        <h3 class="text-4xl mb-10 font-bold">Gold</h3>
        <div class="grid lg:grid-cols-5 md:grid-cols-4 sm:grid-cols-2 grid-flow-row gap-4 mb-10">
          {goldSponsors.map((sponsor) => (
             <SponsorItem value={sponsor} />
          ))}
        </div>
      </>
    )
  }
  {
    silverSponsors.length > 0 && (
      <>
        <h3 class="text-4xl mb-10 font-bold">Silver</h3>
        <div class="grid lg:grid-cols-5 md:grid-cols-4 sm:grid-cols-2 grid-flow-row gap-4 mb-10">
          {silverSponsors.map((sponsor) => (
             <SponsorItem value={sponsor} />
          ))}
        </div>
      </>
    )
  }
  {
    bronzeSponsors.length > 0 && (
      <>
        <h3 class="text-4xl mb-10 font-bold">Bronze</h3>
        <div class="grid lg:grid-cols-5 md:grid-cols-4 sm:grid-cols-2 grid-flow-row gap-4 mb-10">
          {bronzeSponsors.map((sponsor) => (
             <SponsorItem value={sponsor} />
          ))}
        </div>
      </>
    )
  }
  {
    partners.length > 0 && (
      <>
        <h2 class="text-6xl mb-10 font-bold">Partner</h2>
        <div class="grid lg:grid-cols-5 md:grid-cols-4 sm:grid-cols-2 grid-flow-row gap-4 mb-10">
          {partners.map((partner) => (
            <SponsorItem value={partner} />
          ))}
        </div>
      </>
    )
  }
</div>
