---
interface Props {
  dateStart: Date;
  dateEnd: Date;
  sessionDetails: string;
  sessionTitle: string;
  sessionLocation: string;
}

const {
    dateStart, dateEnd,
    sessionDetails, sessionTitle, sessionLocation
}:Props = Astro.props;

function formatDate(date: Date) {
  const year = date.getUTCFullYear();
  const month = date.getUTCMonth() + 1;
  const day = date.getUTCDate();
  const hours = date.getUTCHours();
  const minutes = date.getUTCMinutes();

  return `${year}${month.toString().padStart(2, "0")}${day.toString().padStart(2, "0")}T${hours.toString().padStart(2, "0")}${minutes.toString().padStart(2, "0")}00Z`;
}

const googleLink = `https://www.google.com/calendar/render?action=TEMPLATE&text=${encodeURIComponent(sessionTitle)}&dates=${formatDate(dateStart)}/${formatDate(dateEnd)}&details=${encodeURIComponent(sessionDetails)}&location=${encodeURIComponent(sessionLocation)}&sf=true&output=xml`
const outlookLink = `https://outlook.live.com/owa/?path=/calendar/action/compose&rru=addevent&startdt=${encodeURIComponent(dateStart.toISOString())}&enddt=${encodeURIComponent(dateEnd.toISOString())}&subject=${encodeURIComponent(sessionTitle)}&body=${encodeURIComponent(sessionDetails)}&location=${encodeURIComponent(sessionLocation)}`
const appleLink = `data:text/calendar;charset=utf8, BEGIN:VCALENDAR%0AVERSION:2.0%0ABEGIN:VEVENT%0ADTSTART:${formatDate(dateStart)}%0ADTEND:${formatDate(dateEnd)}%0ASUMMARY:${sessionTitle}%0ADESCRIPTION:${sessionDetails}%0ALOCATION:${sessionLocation}%0AEND:VEVENT%0AEND:VCALENDAR`

---

<div class="dropdown dropdown-end">
    <div tabindex="0" role="button" class="btn m-1 text-red  rounded-md hover:bg-red/20 text-center border-2 border-red bg-white p-3 flex" style="width: 50px; height: 50px;">
        <img src="/assets/vectors/add-calendar.svg" alt="add to calendar"/>
        <slot />
    </div>
    <ul tabindex="0" class="menu dropdown-content bg-base-100 z-[1] w-52 p-2 shadow float-left rounded-md border-2 border-red">
        <li><a href={googleLink} target="_blank" class="focus:text-red">Google</a></li>
        <li><a href={outlookLink} target="_blank" class="focus:text-red">Outlook</a></li>
        <li><a href={appleLink} target="_blank" class="focus:text-red">Apple</a></li>
    </ul>
</details>
