---
import { WebsiteConfig } from "../../config";
import LinkButton from "./LinkButton.astro";
import ReloadPrompt from "./ReloadPrompt.astro";

const year = new Date().getFullYear();
---

<div class="p-4 bg-base-100 text-white">
  <div class="flex flex-col gap-4">
    <div class="flex md:flex-row flex-col md:gap-24 gap-4 justify-between">
      <div class="flex gap-4 items-center">
        <span class="text-lg font-medium">Share</span>
        {
          [
            ["Facebook", "facebook"],
            ["Telegram", "telegram"],
            ["Twitter", "twitter"],
          ].map(([type, logo]) => {
            return (
              <button class="share cursor-pointer hover:opacity-75 transition-opacity" data-share-type={type}>
                <img class="w-6 fill-current text-white" src={`/assets/vectors/${logo}_logo.svg`} />
              </button>
            )
          })
        }
      </div>
      <div class="flex gap-4 items-center">
        <span class="text-lg font-medium">Follow Us</span>
        {[
          [WebsiteConfig.FACEBOOK_PAGE, "facebook"],
          [WebsiteConfig.INSTAGRAM_PAGE, "instagram"],
          [WebsiteConfig.MEETUP_PAGE, "web"],
          [WebsiteConfig.LINKEDIN_PAGE, "linkedin"],
          [WebsiteConfig.WEBSITE, "web"],
        ].map(([url, type]) => {
          return url.length > 0 && (
            <LinkButton href={url} logo={type} />
          )
        })}
      </div>
    </div>
    <div class="border border-white"></div>

    <div class="flex justify-between">
      <span>GDG Bari</span>
      <span>Copyright {year}</span>
    </div>
  </div>
</div>

<ReloadPrompt />

<script src="/src/scripts/share_button.ts"></script>
