---
import { ImportSvg } from "../../helpers/svgimport";

import {
  getLangFromUrl,
  getUrlPathWithoutLang,
  useTranslatedPath,
  useTranslations,
} from "../../i18n/utils";

import { languages } from "../../i18n/ui";

const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);
const t = useTranslations(lang);

const translationIcon = await ImportSvg("translation");

const links = [
  { link: translatePath(""), name: t("nav.home") },
  /*{ link: translatePath("/schedule"), name: t("nav.schedule") },
  { link: translatePath("/sessions"), name: t("nav.sessions") },
  { link: translatePath("/speakers"), name: t("nav.speakers") },*/
  { link: translatePath("/location"), name: t("nav.location") },
  { link: translatePath("/faq"), name: t("nav.faq") },
  { link: translatePath("/team"), name: t("nav.team") },
];

const editions = [
  { year: '2024', link: "https://bari2024.devfest.it"},
  { year: '2023', link: "https://bari2023.devfest.it"},
]

const currentPath = getUrlPathWithoutLang(lang, Astro.url);
---

<div class="drawer">
  <input id="my-drawer-3" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content flex flex-col">
    <!-- Navbar -->
    <div
      class="navbar bg-base-100 w-full fixed top-0 z-30 border-b-4 border-b-red"
    >
      <div class="flex-none lg:hidden">
        <label
          for="my-drawer-3"
          aria-label="open sidebar"
          class="btn btn-square btn-ghost"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            class="inline-block h-6 w-6 stroke-current text-white"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"></path>
          </svg>
        </label>
      </div>
      <div class="mx-2 flex-1 px-2">
       <a href={links[0].link} class="not-colored">
        <img
        src="/assets/vectors/logo_full.svg"
        alt="Devfest Logo"
        class="h-6"
      />
       </a>
      </div>
      <div class="hidden flex-none lg:block">
        <ul class="menu menu-horizontal text-white">
          <!-- Navbar menu content here -->
          {
            links.map((item) => (
              <li>
                <a
                  class="btn btn-ghost hover:bg-red-pastel hover:text-black not-colored"
                  href={item.link}
                >
                  {item.name}
                </a>
              </li>
            ))
          }
          <li>
            <div class="dropdown dropdown-end p-0">
              <div
                tabindex="0"
                role="button"
                class="btn btn-ghost hover:bg-red-pastel hover:text-black"
              >
                {t("nav.editions")}
              </div>
              <ul
                tabindex="0"
                class="dropdown-content menu bg-base-100 rounded-box z-[1] w-52 p-2 shadow top-12"
              >
                {
                  editions.map((event) => (
                    <li>
                      <a
                        class="not-colored hover:bg-red-pastel hover:text-black"
                        href={event.link}
                      >
                        {event.year}
                      </a>
                    </li>
                  ))
                }
              </ul>
            </div>
          </li>
          <li>
            <div class="dropdown dropdown-end p-0">
              <div
                tabindex="0"
                role="button"
                class="btn btn-ghost hover:bg-red-pastel hover:text-black"
              >
                <svg class="fill-current h-6 w-6" set:html={translationIcon} />
              </div>
              <ul
                tabindex="0"
                class="dropdown-content menu bg-base-100 rounded-box z-[1] w-52 p-2 shadow top-12"
              >
                {
                  Object.keys(languages).map((lang) => (
                    <li>
                      <a
                        class="not-colored hover:bg-red-pastel hover:text-black"
                        href={translatePath(currentPath, lang)}
                      >
                        {languages[lang]}
                      </a>
                    </li>
                  ))
                }
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="drawer-side z-40">
    <label for="my-drawer-3" aria-label="close sidebar" class="drawer-overlay"
    ></label>
    <ul class="menu min-h-full w-80 p-4 bg-red-pastel">
      {
        links.map((item) => (
          <li class="hover:bg-black/10">
            <a href={item.link} class="not-colored">{item.name}</a>
          </li>
        ))
      }
    <div class="collapse hover:bg-black/10">
        <input type="checkbox" class="min-h-0" />
        <div class="min-h-0 collapse-title px-4 py-2 flex gap-4 items-center">
          {t('nav.editions')}
        </div>
        <div class="px-0 collapse-content">
          <div class="flex flex-col gap-2">
            {
                  editions.map((event) => (
                    <li>
                      <a
                        class="not-colored hover:bg-red-pastel hover:text-black"
                        href={event.link}
                      >
                        {event.year}
                      </a>
                    </li>
                  ))
                }
          </div>
      </div>
   </div>
      <div class="collapse hover:bg-black/10">
        <input type="checkbox" class="min-h-0" />
        <div class="min-h-0 collapse-title px-4 py-2 flex gap-4 items-center">
          <svg class="fill-current h-6 w-6" set:html={translationIcon} />
          {t('nav.lang')}
        </div>
        <div class="px-0 collapse-content">
          <div class="flex flex-col gap-2">
            {
              Object.keys(languages).map((lang) => (
                <a
                  class="not-colored text-white px-4 py-2 hover:bg-black/15"
                  href={translatePath(currentPath, lang)}
                >
                  {languages[lang]}
                </a>
              ))
            }
          </div>
        </div>
      </div>
    </ul>
  </div>
</div>
